@media only screen and (max-width: 670px) {
        .contactFormMessage{
                height: 90% !important;
        }
        .contactFormMessage p{
                margin: 0;
                padding: 0;
        }

        .contactFormRow input{
                height: 50% !important;
                width: 70% !important;
        }

        .spotifyTitle, .contactTitleLarge, .githubTitle, .linkedinTitle{ 
                height: 11% !important;
        }
        .spotifyContent{
                height: 89% !important;
        }
        .settingsContent{
                height: 89% !important;
        }
        .settingsTitle{
                height: 11% !important;
        }
        .settingsBtnsDiv button{
                padding: 5% !important;
        }
        .themesOuterDiv{
                width: 90% !important;
        }

        .lockTxt{
                width: 90%;
                text-align: center;
        }

        .homeBottomOuter{
                background-color: lavender;
        }

        .lockTime{
                font-size: 4rem !important;
        }

        .appIcon{
                width: 20%;
        }

        .hourlyIcon{
                height: 60% !important;
                width: auto !important;
        }

        .hoursHolder{
                height: 100% !important;
                row-gap: 2% !important;
        }

        .hourlyHolder{
            height: 15% !important;
        }

        .hourDayDiv {
            width: 100% !important;
        }

        .hourlyDayDetails{
            width: 100% !important;
            align-items: center !important;
        }

        .spotifyLoginBtn{
            padding: 5%;
        }

              .daynight-info{
                left: 90% !important;
            }


            .contactRowLarge{
                width: 100% !important; 
                height: 8% !important;
            }

            .githubOuter, .linkedinOuter{
                width: 60% !important;
                height: 35% !important;
                }

                .linkedinContent{
                        height: 89% !important;
                }

                .githubIcon, .linkedinIcon{
                }


                .squareWidget{
                        width: 42%;
                        height: 78%;
                      }

                      .rectWidget{
                        height: 78%;
                      }

                      .hourlyOuter, .hourlyOuter3Day{
                        width: 25% !important;
                      }
                      .hourlyWeeklyTime{
                        width: 30%;
                      }

                      .contactFormBorder{
                        width: 90% !important;
                        height: 80% !important;
                }

                .contactFormDiv{
                        height: 73% !important;
                }

                .contactFormTitle{
                        height: 11% !important;
                }

                .aboutMeTitle{
                        width: 100% !important;
                }

                .aboutMeMainLayout{
                        height: 89% !important;
                }

                .currentSongInfo{
                        flex-direction: column;
                        justify-content: space-evenly !important;
                        height: 78% !important;
                }
                .currentSongImgDiv{
                    width: 85% !important;
                    height: 65% !important;
                    background-color: var(--accentColor1) !important;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 15px;
                }

                .currentSongImg{
                    height: 95% !important;
                    width: auto !important;
                }

                .currentSongTxt{
                        height: 30% !important;
                        width: 85% !important;
                        background-color: var(--accentColor1);
                        border-radius: 15px;
                }

                .currentSongTxt p{
                    width: 90% !important;
                    color: var(--accentTxtColor1) !important;
                }

                .controlsDiv{
                        width: 95% !important;
                        height: 100%;
                }

                .searchDiv{
                        flex-direction: column;
                }

                .searchDiv p{
                        margin: 0;
                        padding: 0;
                        height: 50% !important;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                }

                .portProject{
                        width: 40% !important;
                }

                .projectTop{
                        flex-direction: column;
                        height: 80% !important;
                        row-gap: 5%;
                }

                .projectInfo{
                        flex-direction: row !important;
                        width: 90% !important;
                        height: 20% !important;
                }

                .projectBott{
                        height: 20% !important;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                }
                .projectBott p{
                        margin: 0;
                        padding: 0;
                }

                .projectImg{
                        width: 100% !important;
                        height: auto !important;
                }

                .imgIcon{
                       width: 40% !important;  
                }
                .portfolioTitleLarge{
                    height: 17% !important;
                }
                .portfolioTitleLarge p{
                        height: 60% !important;
                        width: 100% !important;
                        display: flex !important;
                        justify-content: center !important;
                        align-items: center !important;
                }

                .portfolioWidgetOuterLarge{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                }

                .imgInfoDiv {
                    flex-direction: column !important;
                    height: auto !important;
                    padding-bottom: 5% !important;
                    align-items: center !important;
                    row-gap: 5% !important;
                }

                .imgInfoDivImg {
                    max-width: 80% !important;
                    width: auto !important;
                    height: auto !important;
                    margin-top: 5% !important;
                    align-self: center !important;
                    object-fit: contain !important;
                }

                .langOuterDiv {
                    width: 80% !important;
                    display: flex !important;
                    flex-direction: column !important;
                    align-items: center;
                    row-gap: 0.75rem;
                    overflow: visible !important;
                    padding-bottom: 2.5%;
                }

                .langImgDiv{
                        width: 20% !important;
                }

                .langLabelDiv, .langImgDiv, .langInfoDiv {
                        height: 100% !important;          /* ✅ force child divs to match parent */
                        display: flex !important;
                        flex-direction: column;
                        justify-content: space-evenly;
                        align-items: center;
                }

                .langImgIcon{
                        height: 20% !important;
                }

                .weatherTitleLarge{
                        width: 100% !important;
                        height: 11% !important;
                        text-align: center;
                }

                .weatherContentLarge{
                        height: 89% !important;
                }

                .weatherSelectedOutput{
                        height: 80% !important;
                }

                .selectedProjectHeader button{
                        padding: 5% !important;
                }

                .mobileTemp{
                        flex-direction: column;
                        height: 100% !important;
                        justify-content: space-evenly !important;
                }

                .outerContactWidgetLarge{
                        align-items: flex-start !important;
                }
                .contactSendBtn{
                        padding: 5% !important;
                }

                .resumeTitle{
                        width: 100% !important;
                        text-align: center;
                        height: 11% !important;
                }

                .resumeContentDiv{
                        height: 89% !important;
                }

                .resumeWidgetOuter{
                        align-items: flex-start !important;
                }
                .githubWidgetOuter{
                        align-items: flex-start !important;
                }

                .githubContent{
                        height: 89% !important;
                }

                .linkedinWidgetOuter{
                        align-items: flex-start !important;
                }

                .currentSongBorder{
                        height: 97% !important;
                        width: 95% !important;
                        flex-direction: column;
                        justify-content: space-evenly;
                        background-color: transparent !important;
                }
                
                .currentSongControls{
                        height: 22% !important;
                }

                .spotSearchOuter{
                        width: 95% !important;
                        height: 100% !important;
                }

                .spotSearchBar{
                    width: 70% !important;
                }

                .spotSearchBtn{
                    width: 15% !important;
                }

                .searchResultsDiv{
                        height: 80% !important;
                }
                .scrollPlaylist{
                        height: 90% !important;
                }

                .playlistInfoDiv button{
                        padding: 5% !important;
                }

                .playlistSongDiv{
                        width: 90% !important;
                }

                .canvas{
                        height: 90% !important;
                }

                .portSearchOuter{
                        width: 90% !important;
                        height: 40% !important;
                }

                .portSearchBar{
                        width: 70% !important;
                        height: 85% !important;
                }

                .portSearchBtn{
                    height: 90%;
                    width: 15%;
                }

                .portfolioContentLarge{
                        row-gap: 5% !important;
                }

                .aboutMeTitleDiv{
                        width: 100% !important;
                        text-align: center;
                        height: 11% !important;
                }

                .aboutMeTopRow{
                    margin-bottom: 0 !important;
                        flex-direction: column;
                        height: fit-content !important;
                        padding-bottom: 15%;
                }

               .aboutMeEducationDiv, .aboutMeAwardsDiv{
                width: 100% !important;
                height: fit-content;
               }

               .sticky-flag{
                width: 95% !important;
               }

               .simonePic{
                    width: 100% !important;
               }

               .weatherSelectDiv, .spotifySelectDiv{
                height: 15% !important;
               }

               .spotifySelectedOutput{
                height: 85% !important;
               }

               .infoOuterRow{
                display: contents !important;
                width: 100% !important; 
               }

               .outerAfter{
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100% !important;
               }

               .infoValue{
                width: 80% !important;
               }


               .infoRow{
                display: flex;
                flex-direction: column;

               }

               .infoLabel{
                margin: 0;
               }
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

.row5, .row6{
        width: 100%;
        height: calc((97% / 6));
        display: flex;
        justify-content: space-evenly;
        align-items: center;
}

.row1n2, .row3n4{
        width: 100%;
        height: calc((97% / 6)*2);
        display: flex;
        justify-content: space-evenly;
        align-items: center;
}

    .mobileHomeScreenOuter{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 98vh;
        margin: 0;
        padding: 0;
        background-color: var(--backgroundColor);
    }

      .mobileDock{
        display: flex;
        width: 100%;
        height: 15%;
        justify-content: space-evenly;
        align-items: center;
      }

      .mobileMain{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 85%;
        row-gap: 1%;
        margin-bottom: 1%;
        margin-top: 1%;
      }



.mobileAppIconImg{
  margin: 0;
  padding: 0;
  margin-top: 10%;
  background-color: var(--accentColor2);
  color: var(--accentTxtColor2);
  width: 90%;
  height: auto;
  aspect-ratio: 1 / 1;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.25));
}